<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="mt-5">
        <div class="mt-5"></div>
        <h1 class="text-center font-weight-bold text-info display-1">DayOne Journal</h1>
        <p class="text-center lead font-italic mb-5">Your journal for life.</p>
        <blockquote class="blockquote text-center mt-5">
            <h2 class="mt-5 mb-0">"A good plan today is better than a perfect plan tomorrow."</h2>
            <footer class="blockquote-footer">George S. Patton</footer>
        </blockquote>
    </div>
    
</div>
